$menu-link-color: white;
$menu-bg-color: #525355;
$hdr-bg-color: initial;
$hdr-bg-image: initial;
$menu-font-weight: normal;

@import 'https://fonts.googleapis.com/css?family=Noto+Sans';
body {
  font-family: "Noto Sans", sans-serif;
}

#branding {

	>.section {
		max-width: 1290px;
		margin: 0 auto;
	}

	display: flex;
	background-color: white;
	@media (prefers-color-scheme: dark) {
	background-color: black;
	}
	
	.region-branding {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: baseline;
	text-align: center;
	@media only screen and (max-width: 600px) {
		flex-flow: column nowrap;
		justify-content: center;
		align-items: center;
	}

	}
	p {
		margin: 0;
	}
	.block .content {
		margin-top: 0;
	}
	p > a {
		@media (prefers-color-scheme: dark) {
			background: url("../images/princeton-university-logo-dark.png") no-repeat 50% 50%;
		background-size: 300px 45px;
		text-indent: -999em;
		min-width: 300px;
		text-align: left;
		padding: 1em 0 1em 1em;
		display: block;
	}
		background: url("../images/princeton-university-logo.png") no-repeat 50% 50%;
		background-size: 300px 45px;
		text-indent: -999em;
		min-width: 300px;
		text-align: left;
		padding: 1em 0 1em 1em;
		display: block;
	}
	
		.search-block-form {
			display: flex;
			justify-content: center;
			align-items: baseline;
		}
		
		div[id^="edit-actions"] {
			margin-right: 0.6em;
			}
		
		.search-form .form-search {
		float: none;
		width: 200px;
	}
}

#header {

	background-color: $hdr-bg-color;
	background-image: $hdr-bg-image;

	.region-header {
		padding: 0;
		display: flex;
		justify-content: center;
		.block {
			margin: 0;
		}
		.site-branding {
			display: flex;
			align-items: center;
		}	
	}

	@media only screen and (max-width: 600px) {
	.region-header {
		display: flex;
		justify-content: center;
	}
	.region-header .site-branding {
		
			display: flex;
			flex-flow: column;
			align-items: center;
			text-align: center;
			
		}
	}

	.site-branding__text {
		margin-bottom: 0;
		padding: 0; 
		a {
			color: black;
		}
	}

.orfe-logo {
	max-width: 450px;
}	

	.site-branding__logo {
		margin: 0 1em 0 0;
		max-width:400px;
		@media only screen and (max-width: 600px) {
			margin: 0;
		}
		
	}

	.site-branding__name {
		font-size: 2.25em;
	}

	
}

.region-primary-menu .menu {
	padding: 0.5em 0 0.5em 0;
	text-align: center;
	ul li {
		display: inline;
		vertical-align: middle;
		margin: 0 0.25em 0 0.25em;
	}
	a {
		color: white;
	}
	a.active {
		color: #c9c9c9;
	}
}

#menubar {
	.region-menubar {
		display: flex;
		flex-flow: column nowrap;
		align-items: center;
		}
	.block-menu {
		display: flex;
		justify-content: center;
		width: 100%;
			ul {
				text-align: center;
			}
			ul.menu {
				padding: 0;
			}
			ul li {
				display: inline-block;
				vertical-align: middle;
				padding: 0.5em;
			}
		}
	.menu--main {
		background-color: $menu-bg-color;
		a {
			color: $menu-link-color;
			font-weight: $menu-font-weight;

		}
	}

	.menu--main, .menu--administrative-menu {
		.content {
			margin: 0.5em 0 0.5em 0;
		}
	}
}

.layout-main {
margin-top: 0;
}

.subbrand {
border-top: 20px solid #292929;
}

#subbrand {
	.subbrand {
		display: flex;
	}
	p {
		margin: 1em;
	}
	p > a {
		background: url("../images/small-orfe-logo.png") no-repeat 50% 50%;
		background-size: 255px 70px;
		text-indent: -999em;
		min-width: 255px;
		text-align: left;
		padding: 1em;
		display: block;
		border-bottom: none;
	}
}

h1 {
	font-size: 1.3em;
}

#triptych h2 {
font-size: 1.2em;
}