@import 'https://fonts.googleapis.com/css?family=Noto+Sans';
body {
  font-family: "Noto Sans", sans-serif;
}

a, a:hover {
  color: #756d00;
}

#branding {
  display: flex;
  background-color: black;
}
#branding > .section {
  max-width: 1290px;
  margin: 0 auto;
}
#branding .region-branding {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: baseline;
  text-align: center;
}
@media only screen and (max-width: 600px) {
  #branding .region-branding {
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }
}
#branding p {
  margin: 0;
}
#branding .block .content {
  margin-top: 0;
}
#branding p > a {
  background: url("../images/princeton-university-logo-dark.png") no-repeat 50% 50%;
  background-size: 300px 45px;
  text-indent: -999em;
  min-width: 300px;
  text-align: left;
  padding: 1em 0 1em 1em;
  display: block;
}
#branding .search-block-form {
  display: flex;
  justify-content: center;
  align-items: baseline;
}
#branding div[id^=edit-actions] {
  margin-right: 0.6em;
}
#branding .search-form .form-search {
  float: none;
  width: 200px;
}

#header {
  background: #fbf853;
  background: radial-gradient(circle, #fbf853 0%, #eca53b 100%);
}
#header .region-header {
  padding: 1em 0 0 0;
  display: flex;
  justify-content: center;
}
#header .region-header .block {
  margin: 0;
  line-height: 0;
}
@media only screen and (max-width: 851px) {
  #header .region-header {
    display: flex;
    justify-content: center;
    flex-flow: column;
  }
  #header .region-header .site-branding {
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
  }
}
#header .site-branding__text {
  margin-bottom: 0;
  padding: 0;
}
#header .site-branding__text a {
  color: black;
}
#header .orfe-logo {
  max-width: 450px;
}
#header .site-branding__logo {
  margin: 0;
  padding: 0;
  line-height: 0;
  max-width: 400px;
}
#header .site-branding__name {
  font-size: 2.25em;
}

.region-primary-menu .menu {
  padding: 0.5em 0 0.5em 0;
  text-align: center;
}
.region-primary-menu .menu ul li {
  display: inline;
  vertical-align: middle;
  margin: 0 0.25em 0 0.25em;
}
.region-primary-menu .menu a {
  color: #030303;
  font-weight: bold;
  font-size: 1.3em;
}
#menubar .region-menubar {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
#menubar .block-menu {
  display: flex;
  justify-content: center;
  width: 100%;
}
#menubar .block-menu ul {
  text-align: center;
}
#menubar .block-menu ul.menu {
  padding: 0;
}
#menubar .block-menu ul li {
  display: inline-block;
  vertical-align: middle;
  padding: 0.5em;
}
#menubar .menu--main {
  background-color: #525355;
}
#menubar .menu--main a {
  color: white;
  font-weight: normal;
}
#menubar .menu--main .content, #menubar .menu--administrative-menu .content {
  margin: 0.5em 0 0.5em 0;
}

@media (min-width: 461px) and (max-width: 900px) {
  .region-primary-menu .menu-item, body:not(:target) .region-primary-menu .menu-item {
    float: none;
  }
}

.reginfo {
  margin: 0 0 1.2em;
  text-align: center;
}

.layout-container {
  max-width: 1024px;
}

.layout-main {
  margin-top: 0;
}

.subbrand {
  border-top: 20px solid #292929;
}

#subbrand .subbrand {
  display: flex;
}
#subbrand p {
  margin: 1em;
}
#subbrand p > a {
  background: url("../images/small-orfe-logo.png") no-repeat 50% 50%;
  background-size: 255px 70px;
  text-indent: -999em;
  min-width: 255px;
  text-align: left;
  padding: 1em;
  display: block;
  border-bottom: none;
}

h1 {
  font-size: 1.3em;
}

#triptych h2 {
  font-size: 1.2em;
}

#block-wlhss-main-menu .menu {
  display: flex;
  justify-content: center;
}

.registration-btn {
  background: #FBF853;
  background-image: -webkit-linear-gradient(top, #FBF853, #ECA53B);
  background-image: -moz-linear-gradient(top, #FBF853, #ECA53B);
  background-image: -ms-linear-gradient(top, #FBF853, #ECA53B);
  background-image: -o-linear-gradient(top, #FBF853, #ECA53B);
  background-image: linear-gradient(to bottom, #FBF853, #ECA53B);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #000000;
  font-size: 26px;
  padding: 12px 18px 10px 18px;
  text-decoration: none;
}

.registration-btn:hover {
  text-decoration: none;
}

.main-content h2 {
  margin-bottom: 1em;
  font-size: 1.75em;
}

/*# sourceMappingURL=wlhss.css.map */
